body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

#header {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
    font-size: 30px;
}

.font {
    font-family: 'Courier New', Courier, monospace;
}

#parent {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    left: 150px;
    margin-top: 20px;
}

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    transform: translateX(110%);
    flex-wrap: wrap;
}

#section2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 200px;
    margin: auto;
    transform: translateX(20%);
}

#section3 {
    max-width: 200px;
    transform: translateX(-20%);
    border: 1px solid black;
    padding: 20px;
}

.block {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 16px;
    transition: 0.5s all;
    cursor: pointer;
}

.block:hover {
    scale: 1.05;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.btn1 {
    height: 60px;
    width: 170px;
    border: 1px solid black;
    border-radius: 16px;
    transition: 0.5s all;
    cursor: pointer;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ftr2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 18px;
    width: 1500px;
    height: 100px;
}

#score {
    position: absolute;
    left: 200px;
}

#attempt {
    position: absolute;
    right: 120px;
}



/*Media queries for mobile*/
@media screen and (max-width: 2000px) and (orientation: portrait) {

    #header h1 {
        text-align: center;
        font-size: 37px;
    }

    #section3 {
        max-width: 300px;
        padding: 10px;
    }

    h3 {
        margin: 0px;
    }

    p {
        margin: 5px 0px;
    }

    section {
        margin-top: -25px;
    }

    #section1 {
        transform: translateX(0%);
        max-height: 80px;
    }

    #section2 {
        transform: translate(-160%, 40%);
    }

    #ftr2 {
        margin-top: 7px;
    }

    .btn1 {
        margin: 20px 0px 10px 0px;
        transform: translateX(10%);
    }

    #ans {
        margin: 20px 0px 10px 0px;
        transform: translateX(8%);
    }

    #attempt {
        transform: translate(10%, 62%);
    }

    #restart {
        transform: translate(10%, 150%);
    }

}